<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="1.1"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.heytap.wallet"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="34"/>
    <queries>
        <package android:name="com.google.android.apps.walletnfcrel"/>
    </queries>
    <application
        android:label="Google Wallet"
        android:allowBackup="false">
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.heytap.wallet.MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="heytap.wallet.intent.action.OPEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
